[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==5.10.0"

[packages]
selenium = "*"
selenium-wire = "*"
python-dotenv = "*"
coloredlogs = "*"
aiohttp = "*"
webdriver-manager = "*"
ipython = "==5.10.0"
click = "*"

[requires]
python_version = "3.6"
